h1 {
  font-family: 'Wilderness Typeface';
  letter-spacing: 1px;  
  text-align: center;
}
 
h3 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;  
  text-align: center;
  color: #fff;
}

@font-face {
  font-family: 'Wilderness Typeface';
  src: url('wildernesstypeface-regular.eot');
  src: url('wildernesstypeface-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('roboto-regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 100%; 
  background-color:#fff;
}
 
nav {
  display: block;
}
 
nav ul {
  padding: 0; 
}
 
table {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  float: none;
  margin-top: 50px;
}

footer {
  text-align: center;
  margin-top: 50px;
  padding-top: 15px;
  margin-bottom: 50px;
}

footer p {
  color: #262626;
}

footer a {
  color: #262626;
}

footer a:hover {
  text-decoration: none;
  color: #000;
}

.header {
  font-family: 'Wilderness Typeface';
  font-size: 10em;
  text-align: center;
  z-index: 9999999999;
}

.menu {
  positon: relative;
  margin: 0;
  overflow: hidden;
  text-align: center;
  border-top: 2px solid #eaeaea;
  padding-top: 35px;
  padding-bottom: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #fff;
  z-index: 9999999999;
}
 
.menu li {
  list-style-type: none;
  display: inline;
  padding: 3px;
}
 
.menu a {
  display: inline-block;
  text-decoration: none;
  color: #777777;
  font-family: Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 5px;
  background-color: #dee8f7;
  border-radius: 5px;
}
 
.menu a:hover {
  transition: background-color 0.5s ease;
  background-color: #eff5ff;
  color: #777777;
}
 
.menu a:active {
  background-color: #beceea;
}
 
a.currentpage {
  background-color: #a8bbdb;
  color: #ffffff;
}
 
.intro {
  margin: auto;
  text-align: left;
  max-width: 600px;
  font-size: 1.50em;
  font-family: 'Roboto';
  letter-spacing: 1px;
}
 
.contact {
  margin: auto;
  max-width: 80%;
  height: 100%;
  background-color: #eff5f7;
  text-align: center; 
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
}
 
.contact a {
  font-family: Verdana, sans-serif;
  letter-spacing: 1px;
  color: #757575; 
  text-decoration: none;
}
 
.contact a:visited {
  font-family: Verdana, sans-serif;
  letter-spacing: 1px;
  color: #757575;
  text-decoration: none;
}
 
.contact a:hover {
  font-family: Verdana, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  color: #a8bbdb;
  transition: color 0.5s ease;
  text-decoration: none;
}
 
.icons {
  float: left;
  margin-left: 650px;
}
 
.contactlinks {
  float: right;
  margin-right: 620px;
  text-align: left;
}
 
.icons li {
  padding: 10px;
  text-decoration: none;
  list-style-type: none;
}
 
.contactlinks li {
  padding: 10px;
  text-decoration: none;
  list-style-type: none;
}

.container {
  box-sizing: border-box;
}

.container p {
  text-align: center;
  font-size: 2em;
  font-family: 'Roboto';
  color: #6d6d6d;
}

.info {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color:#eff5f7;
}

.quotes {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color:#f4fbff;
}

blockquote {
  font-size: 0.75em;
  border: none;
}

.stickyElement {
  display:block;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 999999999999;
}

.carousel-caption p {
  font-family: 'Roboto';
  color: #fff;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

.btn,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #8dacba;
  background-color: #fff;
  border: 2px double #8dacba;
  letter-spacing: 2px;
}

.dropdown {
  width: 100%;
  position: sticky;
  text-align: center;
  border-top: 2px solid #eaeaea;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 9999999999999999999;
  margin-right: auto;
  margin-left: auto;
}

.dropdown-menu {
  position: absolute;
  top: 90%; 
  right: 0;
  text-align: center;
}

.dropdown .dropdown-menu {
  -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
  -moz-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
  -ms-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
  -o-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;
  transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.dropdown.open .dropdown-menu {
  -webkit-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  -moz-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  -ms-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  -o-transition: max-height 0.3s, opacity 0.2s, visibility 0s;
  transition: max-height 0.3s, opacity 0.2s, visibility 0s;

  max-height: 190px;
  opacity: 1;
  visibility: visible;
}

@media (min-width: 960px) {
  .menu {
    display: block;
  }
  .dropdown {
    display: none;
  }
}

@media (max-width: 960px) {
  .menu {
    display: none;
  }
  .dropdown {
    display: block;
    text-align: center;   
    letter-spacing: 1px; 
  }
}

@media (min-width: 960px) {
  .menu {
    display: block;
  }
  .dropdown {
    display: none;
  }
}

@media (max-width: 960px) {
  .menu {
    display: none;
  }
  .dropdown {
    display: block;
    text-align: center;   
  }
}

