.header h1 {
  font-family: 'Wilderness Typeface', 'Raleway', Helvetica, sans-serif;
  font-size: 6em;
  color: #3d3d3d;
  text-align: center;
  text-decoration: none;
  z-index: 9999999999;
  text-transform: lowercase;
  padding-top: 4%;
}

.header a {
  color: #3d3d3d;
  text-decoration: none;
}

#intro {
  margin: 10px auto 20px;
}

#intro h2 {
  font-size: 1.8em;
  vertical-align: middle;
  display: inline;
}

#profile {
  vertical-align:middle;
  width: 90px;
  height: 90px;
  margin: 20px;
  border-radius: 50%;
  border: 5px solid #ccc;
}

#desc {
  font-size: 1.1em;
  text-align: center;
}

h3 {
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 8px;
}

h4 {
  font-size: 0.9em;
  font-weight: 700;
}

a {
  color: rgb(57,136,147);
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

a:hover {
  color: #aaa;
  text-decoration: none;
}

/* Navigation */
.navbar .navbar-nav {
  margin: 0 auto;
  text-align: center;
  padding: 10px 0 50px;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 1px;
}

.navbar-toggler {
  display: inline;
  font-size: 1em;
}

.navbar .navbar-nav .active {
  color: #898989;
  border-bottom: solid #fedcd2;
  border-radius: 0px;
}

/* Back to top button */
button {
  text-shadow: none;
  border: none;
  box-shadow: none;
}

button:focus {
  outline: none;
}

#scroll {
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor:pointer;
  width: 40px;
  height: 40px;
  background-color: #aaa;
  color: #fff;
  display: none;
  border-radius: 50%;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

#scroll:hover {
  background-color: rgb(57,136,147);
}

body {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 1em;
  color: #6d6d6d;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.info {
  background-color: #edf7f8;
  padding: 50px;
  margin-bottom: 100px;
}

.line {
  border-top: 1px solid #dcdfe5;
  width: 100%;
}

.display-sm {
  display: none;
}

.display-lg {
  display: block;
}

#work h3 {
  text-align: left;
}

#work p, .books p {
  font-size: 0.75em;
}

#values ul {
  list-style-type: none;
  font-style: italic;
  padding-left: 15px;
  line-height: 3em;
}

.interest-button {
  border-radius: 50%;
  background-color: #aaa;
  color: #fff;
  width: 25px;
  margin: auto;
}

#interest1Content, #interest2Content, #interest3Content {
  display: none;
  font-size: 0.85em;
}

#interests, #connect {
  text-align: center;
}

#connect h4, #interests h4 {
  text-align: center;
}

#connect a {
  font-size: 0.75rem;
}

#connect a:hover {
  color: #000;
  text-decoration: none;
  background: none;
}

.books h2, .gallery-container h2 {
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid #aaa;
  padding: 30px 0 15px;
}

.books h3 {
  border-bottom: none;
  text-align: left;
  font-weight: 700;
}

.author {
  font-size: 0.6em;
  font-weight: 700;
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 10px;
}

/* Photo gallery */
.gallery-container {
  background-color: #edf7f8;
  min-height: 100vh;
  padding-top: 50px;
  margin-bottom: 100px;
}

.gallery {
  padding: 0 80px 40px;
}

#gallery-line {
  padding: 0 100px 20px;
}

.gallery .lightbox img {
  width: 100%;
  transition: 0.2s ease-in-out;
  opacity: 0.8;
}

.gallery img {
  border-radius: 4px;
}

.gallery .lightbox img:hover {
  transform: scale(1.05);
  opacity: 1;
}

.gallery .caption {
  margin-top: 15px;
  margin-bottom: 50px;
  text-align: center;
}

.gallery .caption p {
  font-size: 0.7em;
  color: #6d6d6d;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  .display-sm {
    display: block;
  }
  .display-lg {
    display: none;
  }
  .header h1 {
    text-align: left;
    margin-top: -25%;
    margin-left: -35%;
    font-size: 5em;
  }
  .navbar .navbar-nav .active {
    border-bottom: none;
  }
  .navbar-toggler {
    display: inline;
    font-size: 1em;
  }
  #profile {
    width: 60px;
    height: 60px;
    margin: 10px;
  }
  #intro h2 {
    font-size: 1.5em;
  }
  #desc {
    font-size: 1em;
  }
  #work h3 {
    text-align: center;
  }
  .info {
    margin-bottom: 0;
  }
  .gallery-container {
    margin-bottom: 0;
  }
  .gallery {
    padding: 0 20px 20px;
  }
}

@font-face {
  font-family: 'Wilderness Typeface';
  src: url('../fonts/wildernesstypeface-regular.eot');
  src: url('../fonts/wildernesstypeface-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
